@import '../../../../styles/variables.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:host,
app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.app {
  height:                                    100%; //resolves IE11 sticky footer issue
  display:                                   flex;
  flex-direction:                            column;

  &__content {
    overflow-y: scroll;
    display:                                   flex;
    .wrapper {
      height: 100%;
    }
  }

  &__footer {
    display:                                   flex;
    flex-shrink: 0;
    background-color: $color-dark-gray;
    padding: 20px 10px;
  }
}
